In [4]:
import pandas as pd
import sqlalchemy as db

In [6]:
df = pd.read_csv('green_bonds_since_2008.csv')

In [8]:
df

,Type,Maturity,Denominated Currency,Volume,Coupon,Settlement Date,Maturity Date,USD Equivalent,ISIN,Final Terms
0,Green,9.0,EUR,250000000,0.006,2019-04-03,2027-11-22,2.858000e+08,XS1912495691,NaN
1,Green,5.0,USD,3902000,0.000,2019-03-22,2024-03-15,3.900000e+06,US45905U2L74,NaN
2,Green,4.0,INR,160000000,0.050,2019-03-15,2023-08-07,2.278401e+06,XS1863327331,NaN
3,Green,4.0,ZAR,250000000,0.070,2019-01-28,2023-06-07,1.814184e+07,XS0941866252,NaN
4,Green,5.0,INR,140000000,0.042,2019-01-15,2023-12-18,2.016226e+06,XS1922288169,NaN
...,...,...,...,...,...,...,...,...,...,...
369,Green,5.0,TRY,350000000,0.120,2021-01-22,2026-01-22,4.660453e+07,XS2288098291,http://pubdocs.worldbank.org/en/15515161177162...
370,Green,7.0,BRL,150000000,0.058,2021-01-15,2028-01-14,2.810568e+07,XS2285181074,http://pubdocs.worldbank.org/en/35217161177163...
371,Green,13.0,USD,50000000,0.000,2020-12-02,2033-12-05,5.000000e+07,XS2265026372,NaN
372,Green,5.0,MXN,103000000,0.041,2020-11-24,2025-11-25,5.003109e+06,XS2261206457,NaN
373,Green,7.0,SEK,1000000000,0.001,2020-10-15,2027-10-15,1.125448e+08,XS2243753360,NaN

In [10]:
df.shape

(374, 10)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374 entries, 0 to 373
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Type                  374 non-null    object
 1   Maturity              374 non-null    float64
 2   Denominated Currency  374 non-null    object
 3   Volume                374 non-null    int64
 4   Coupon                370 non-null    float64
 5   Settlement Date       374 non-null    object
 6   Maturity Date         374 non-null    object
 7   USD Equivalent        374 non-null    float64
 8   ISIN                  372 non-null    object
 9   Final Terms           185 non-null    object
dtypes: float64(3), int64(1), object(6)
memory usage: 29.3+ KB

In [14]:
df.head()

,Type,Maturity,Denominated Currency,Volume,Coupon,Settlement Date,Maturity Date,USD Equivalent,ISIN,Final Terms
0,Green,9.0,EUR,250000000,0.006,2019-04-03,2027-11-22,2.858000e+08,XS1912495691,NaN
1,Green,5.0,USD,3902000,0.000,2019-03-22,2024-03-15,3.900000e+06,US45905U2L74,NaN
2,Green,4.0,INR,160000000,0.050,2019-03-15,2023-08-07,2.278401e+06,XS1863327331,NaN
3,Green,4.0,ZAR,250000000,0.070,2019-01-28,2023-06-07,1.814184e+07,XS0941866252,NaN
4,Green,5.0,INR,140000000,0.042,2019-01-15,2023-12-18,2.016226e+06,XS1922288169,NaN

In [16]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
369    False
370    False
371    False
372    False
373    False
Length: 374, dtype: bool

In [18]:
df[df.duplicated()]

Empty DataFrame
Columns: [Type, Maturity, Denominated Currency, Volume, Coupon, Settlement Date, Maturity Date, USD Equivalent, ISIN, Final Terms]
Index: []

In [20]:
df.isnull().sum()

Type                      0
Maturity                  0
Denominated Currency      0
Volume                    0
Coupon                    4
Settlement Date           0
Maturity Date             0
USD Equivalent            0
ISIN                      2
Final Terms             189
dtype: int64

In [22]:
engine = db.create_engine('postgresql://denise:RMkDCvY6q1Qi@ep-gentle-rain-a5vndvsu.us-east-2.aws.neon.tech/greenbonds?sslmode=require&options=endpoint%3Dep-gentle-rain-a5vndvsu')

In [24]:
df.to_sql("bonds", engine, if_exists='replace', index=False)

374